body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather",serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66BFBF;


}

h2 {
  font-family: "Montserrat";
  color: #66BFBF;
  font-weight: normal;
}

h3 {
font-family: "Montserrat";
color: #11999E;
}

hr {

  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 5%;
}

.job {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

.top_container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px
}

.admin {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 25%;
  margin: 100px auto;
  text-align: left;
  line-height: 2
}

.tech_img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.ny_img {
  width: 25%;
  float: right;
  margin-right: 5px;
}

.footer_link {
  color: #11999E;
  background-color: #396EB0;

}

.contact-me {
  line-height: 2

}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 30px;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  margin-top: 100px;
  background-color: #66BFBF;
  padding: 50px;

}

.footer-link {
  color: #11999E;
  font-family: "Montserrat";
  padding: 50px;

}
.copyright {
  color: #EAF6F6;

}
